<!-- header is at the top of the webpage and nav is making it a navigation section with a link to the main page and under this a unordered list which 
     have no numerical order. li is to represent an item in a list needs to be inside a ul or/ol or menu 
     href is making a link to another website or a subfile
-->

<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            
        </ul>
    </nav>
</header>