<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- makes the view can vary on different devices content makes the width of the page same as the devices one and scale means it all fits on the screen  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>

    <br>
<!-- includes the two files here and  -->
    <%- include('../partials/header.ejs') %> 
    <%- include('../partials/errorMessage.ejs') %>
    <!-- not sure what that body thing makes!!! -->
    <%- body %>
    <br>

</body>
</html>